name: NetApp Ansible CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
      matrix:
        collection: [aws, azure, cloudmanager, elementsw, ontap, um_info]
    steps:
    - uses: actions/checkout@v1
    - name: Setting up ansible test on ${{ matrix.collection }}
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install ansible==4.0.0a3
        cd ansible_collections/netapp/${{ matrix.collection }}
        pwd
        ls -l

        pip install -r requirements.txt
    - name: Run Ansible Sanity
      run: |
        cd ansible_collections/netapp/${{ matrix.collection }}
        ansible-test sanity --docker=default
    - name: Run unit tests
      run: |
        cd ansible_collections/netapp/${{ matrix.collection }}
        ansible-test units --docker=default --python 3.8
